{
  "presets": [
    "hyperdom"
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ]
    }
  }
}
